        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #0a3b87;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        header {
            display:flex;
            flex-direction: row;
            height: 60px;
            width: 100%;
        }
        header div{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        header img {
            height: 50px;
            width:50px;
        }
        nav{
             background-color: rgb(77, 103, 143);
             width:100%;
             height: 60px;
             margin-bottom: 0px;
        }
        nav div{
            height:100%;
            width:100%;
            display:flex;
            justify-content: space-around;
            align-items: center;    
        }
        nav div button{
            border-radius: 5px;
            color: white;
            background-color: blue;
        }
        main{
            width:100%;
            height:100%;
            padding-top: 10px;
            background-color: white;
            justify-items: center;
            align-items: center;
        }
        #contenedor {
            width: 500px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 2px;
            margin:20px;
        }
        #contenedor div {
            border: 1px solid black;
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #contenedor2 {
            width: 600px;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2px;
        }
        #contenedor2 div {
            border: 1px solid black;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        #contenedor2 img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        #contenedor3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #contenedor3 #conta {
            padding-left: 5px;
            padding-top: 3px;
        }