body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 100vh;
            margin: 0;
        }

        #contenedor {
            width: 500px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 2px;
        }

        #contenedor div {
            border: 1px solid black;
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #contenedor2 {
            width: 600px;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2px;
        }

        #contenedor2 div {
            border: 1px solid black;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        #contenedor2 img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        #contenedor3{
          display:flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        #contenedor3 #conta{
          padding-left: 5px;
          padding-top:3px;
        }