#logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 1rem auto;
}

body {
    background-color: #f3f4f6;
    font-family: "Jersey 25", sans-serif;
}

h2 {
    color: #004099;
    text-align: center;
}

.bg-white {
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.text-gray-900 {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
}
